.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-menu a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}